html {
    height: 100vh;
    font-family: 'Roboto', sans-serif;
}

body {
    height: 100%;
    flex-direction: column;
    background-color: darkslateblue;
    color: whitesmoke;
}

section {
    display: flex;
    flex-flow: column;
    height: 100vh;
    margin:auto;
}

header {
    background: #202020;
    text-align: center;
}

#loginForm {
    font-size: 28px;
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
}

#registerForm {
    font-size: 28px;
    flex: 2;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-self: center;
}

#content {
    flex: 95;
    display: none;
    flex-direction: column-reverse;
    overflow: auto;
}

#onlineUsers {
    display: none;
    flex-direction: row;
    flex: 5;
    width: 85%;
    align-items: center;
    align-self: center;
    margin: 8px 0;
    overflow-x: scroll;
    white-space: nowrap;
}

#user {
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 3px 8px;
    margin: 0 4px;
    align-self: center;
    display: inline-flex;
}

.fas.fa-circle {
    color: greenyellow;
    align-self: center;
    margin: 0 5px;
}

#offline.fas.fa-circle {
    color: #666;
}

#chatMessages {
    width: 80%;
    align-self: center;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 5px 20px;
    margin-bottom: 8px;
}

#msg {
    padding-left: 3em;
}

footer #message {
    flex: 1;
    margin-right: 6px;
}

#messageForm {
    display: contents;
}

footer {
    min-height: 5vh;
    font-size: 3vh;
    display: flex;
    width: 70%;
    align-self: center;
    padding-bottom: 8px;
}

::-webkit-scrollbar {
    display: none;
}