html {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

body {
    height: 100%;
    flex-direction: column;
    background-color: darkslateblue;
    color: whitesmoke;
}

section {
    display: flex;
    flex-flow: column;
    height: 100vh;
    margin:auto;
}

header {
    background: #202020;
    text-align: center;
}

#loginForm {
    font-size: 28px;
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
}

#content {
    flex: 2;
    display: none;
    flex-direction: column-reverse;
    overflow: auto;
}

footer #message {
    flex: 1;
}

footer {
    min-height: 5vh;
    /*position: fixed;
    bottom: 0;*/
    font-size: 3vh;
    margin: auto;
}